
name: virtd

include: 
  - proxy.yaml

services:
  db:
    image: mysql:8
    restart: always
    env_file: ./.env
    ports:
      - "3306:3306"
    networks:
      backend:
        ipv4_address: 172.20.0.10
    
    

  web:
    #image: docker pull cr.yandex/crp8q7knbclpl1vge168/shvirtd:0.0.2a
    image: shvirtd:0.0.2a
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.python
    networks:
      backend:
        ipv4_address: 172.20.0.5 
    ports:
      - "5000:5000"
    env_file: ./.env
    environment:
      - DB_HOST=db
      - DB_USER=$MYSQL_USER
      - DB_PASSWORD=$MYSQL_PASSWORD
      - DB_NAME=$MYSQL_DATABASE
    depends_on:
      - db
    command: ["./start_web.sh"]
